<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w3-sidebar w3-xxlarge" style="width: 200px;margin-top:0px; background-color: #f8f9fd">
    @*#c9deeb*@
    @*<a style="height:80px;width:80px" href="#" class="w3-bar-item w3-button">
            <i class="fa fa-try ">
            </i>
        </a><br />*@
    @*class="w3-bar-item w3-button"*@
    @*<a href="/home/index" style="height:80px;width:200px;color:black;font-size:25px" class="w3-bar-item w3-button">Faturalar</a><br />*@
    <a href="/home/index" style="height:70px;width:200px;color:black;font-size:20px;margin-left:0px;text-align:left" class="w3-bar-item w3-button"><i class="fa fa-try"></i>  Faturalar</a><br />

    @*<i class="fa fa-try">Faturalar</i>*@
    <a href="/home/stoklar" style="height: 70px; width: 200px; color: black; font-size: 20px;text-align:left" class="w3-bar-item w3-button"><i class="fa fa-eye"></i>  Stoklar</a><br />
    <a href="/home/stoklar" style="height: 70px; width: 200px; color: black; font-size: 20px;text-align:left" class="w3-bar-item w3-button"><i class="fa fa-users"></i>  Cariler</a><br />
    @*<i class="fa fa-try">Stoklar</i>*@
    @*<a href="#" style="height:80px;width:80px" class="w3-bar-item w3-button">
            <i class="fa fa-building-o"> </i><h3></h3>
        </a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-th-large"></i></a>*@
</div>
@RenderBody()
<footer>
    yok
</footer>

