
<style>
    .k-window-titlebar .k-window-actions {
        position: absolute;
        top: 0;
        right: .3em;
        padding-top: .3em;
        white-space: nowrap;
    }

    .k-window {
        position: absolute;
    }
</style>
<div class="k-widget k-window" style="background-color:burlywood;padding-top:50px;margin-left:400px;width:900px;height:540px">
    <div class="k-window-titlebar k-header" style="margin-top: -60px;">
        &nbsp;
        <span class="k-title">Ekle</span>
        <div class="k-window-actions">
            <a role="button" href="~/" class="k-button k-bare k-button-icon k-window-action" aria-label="Close">
                <span class="k-icon k-i-close"></span>
            </a>
        </div>
    </div>
    <p>An iframe with a thin black border:</p>
    <iframe src="~/pdfler/1.pdf" width="100%" height="500" style="border:1px solid black;">
    </iframe>
</div>
